.wrapper{
    width: var(--size-side-bar-current);
    background-color: var(--color-dark-light-black);
}
.side-bar{
    z-index: 1;
    width: var(--size-side-bar-current);
    position: fixed;
    overflow-x: hidden;
    
    padding: 50px 0px 0px 0px;
}
.list{
    padding: 0px;
    margin: 5px 0px 0px 0px;
}
.list{

}